<div class="login_form">
  <h1>Login</h1>

  <%= form_for(:session, url: login_path) do |f| %>
    <p>
      <%= f.label :email %> <br />
      <%= f.email_field :email %><br />
    </p>
    <p>
      <%= f.label :password %> <br />
      <%= f.password_field :password %><br />
    </p>
    <%= f.submit "Log in", class: "userbutton" %>
  <% end %>

</div>
