<div class="page_top">
  <h1>Welcome to The Neural Network</h1>

  <p>
    We noticed that you aren't logged in! Why don't you Signup or Sign in?
  </p>
  <br />
</div>

<div class= "forms">

  <div class="left">

    <div class="front_page_signup">
      <h1>Signup New User</h1>
      <%= form_for @user do |f| %>

        <p>
          <%= f.label :name %><br />
          <%= f.text_field :name, :autofocus => true %>
        </p>

        <p>
          <%= f.label :username %><br />
          <%= f.text_field :username %>
        </p>

        <p>
          <%= f.label :email %><br>
          <%= f.email_field :email %>
        </p>

        <p>
          <%= f.label :password %><br>
          <%= f.password_field :password %>
        </p>
        <%= f.submit "Create" %>
      <% end %>
    </div>

  </div>

  <div class="right">
    <div class='front_page_login'>
      <h1>Log in!</h1>
      <%= form_for(:session, url: login_path) do |f| %>
      <p>
        <%= f.email_field :email, :placeholder => "Email" %><br />
      </p>
      <p>
        <%= f.password_field :password, :placeholder => "Password" %><br />
      </p>
      <p>
        <%= f.submit "Log in", class: "btn-submit" %>
      </p>
      <% end %>
    </div>
  </div>

</div>
